.tooltips_cls:hover + .card-Data{
  visibility: visible;
  opacity: 1;
  bottom: 190px;
  left: 1%;
  cursor:pointer;
}

.card-Data{
  opacity: 0;
  position: relative;
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

/* input[type=number] {
  -moz-appearance: textfield;
} */
